
#calc-contain{
    position: relative;
    width: 400px;
    border: 2px solid black;
    border-radius: 12px;
    margin: 0px auto;
    padding: 20px 20px 100px 20px;
}
#display {
    position: relative;
    display: block;
    height: 40px;
    width: 90%;
    margin: 5px auto;
    font-size: 20px;
    padding: 10px;
    box-shadow: 4px 0px 12px black inset;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container button{
    background: lightGray;
    width: 20%;
    font-size: 20px;
    font-weight: 900;
    border-radius: 7px;
    margin-left: 13px;
    margin-top: 10px;
}
